/*
---------------------------------
Settings wrap
---------------------------------
*/

.antique-plugin-settings-wrap {
    width: 100%;
    max-width: 620px;
    text-align: justify;
}


/*
---------------------------------
Border customization
---------------------------------
*/

.border-customization {
    display: flex;
}

.border-settings {
    display: none;
}

.enable-border:checked ~ .border-settings {
    display: flex;
}

@media only screen and (min-width: 769px) {

    .border-customization,
    .border-settings {
        flex-direction: row;
        align-items: center;
    }

    .border-settings > * {
        margin-right: 6px;
    }

    .enable-border {
        margin: 0 !important;
        margin-right: 24px !important;
    }

}

@media only screen and (max-width: 768px) {

    .border-customization,
    .border-settings {
        flex-direction: column;
        align-items: start;
    }

    .border-settings > * {
        margin-bottom: 6px;
    }

    .enable-border {
        margin: 0 !important;
        margin-bottom: 24px !important;
    }

}


/*
---------------------------------
Show where block is used
---------------------------------
*/

.antique-plugin-table-wrap {
    margin-top: 40px;
}

.antique-plugin-table-wrap p {
    display: inline-block;
}

#antique-plugin-toggle-table {
    float: right;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    user-select: none;
}

#antique-plugin-toggle-table span {
    display: block;
    padding: 5px 10px;
    color: black;
}

#antique-plugin-toggle-table .show,
#antique-plugin-toggle-table .hide {
    display: none;
}

#antique-plugin-toggle-table .show.is-displayed,
#antique-plugin-toggle-table .hide.is-displayed {
    display: block;
}

.antique-plugin-pages-table {
    display: none;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.antique-plugin-pages-table.is-displayed {
    display: table;
}

.antique-plugin-pages-table * {
    text-align: left;
}

.antique-plugin-pages-table th {
    padding: 0 0 5px 0;
}

.antique-plugin-pages-table td {
    padding: 0;
    font-size: 12px;
}

.antique-plugin-pages-table tr th:nth-child(1),
.antique-plugin-pages-table tr td:nth-child(1) {
    width: 10%;
}

.antique-plugin-pages-table tr th:nth-child(2),
.antique-plugin-pages-table tr td:nth-child(2) {
    width: 10%;
}

.antique-plugin-pages-table tr th:nth-child(3),
.antique-plugin-pages-table tr td:nth-child(3) {
    width: 50%;
}

.antique-plugin-pages-table tr th:nth-child(4),
.antique-plugin-pages-table tr td:nth-child(4) {
    width: 20%;
}

.antique-plugin-pages-table tr th:nth-child(5),
.antique-plugin-pages-table tr td:nth-child(5) {
    width: 10%;
}


/*
---------------------------------
Submit buttons
---------------------------------
*/

.antique-plugin-submit-buttons-wrap {
    margin-top: 25px;
}

.antique-plugin-submit-buttons-wrap .button:nth-child(1) {
    min-width: 200px;
    margin-right: 12px;
}

.antique-plugin-submit-buttons-wrap .button:nth-child(2) {
    min-width: 200px;
    border: 1px solid #cc1818;
    color: #cc1818;
}

.antique-plugin-submit-buttons-wrap .button:nth-child(2):hover {
    color: #9e1313;
}